###############################################################################
# For website

# ignore all of .pyc
Web/__pycache__/

###########
# Android #
###########

# ignore all bin files
src/android/bin/
