{% extends 'base.html.jinja' %}

{% block base_content %}
  <style>
    .navbar {
      padding: 10px;
    }
  </style>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <b style="margin:5px">Welcome, {{current_user_username}}</b>
      <a class="btn btn-default" href="/" role="button">Dashboard</a>
      <a class="btn btn-default" href="/addEvent" role="button">Add event</a>
      <ul class="nav navbar-nav navbar-right">
        <form id="logout" class="form-inline" role="form" action="/logout" method="post">
          <button type="submit" class="btn btn-default">Sign out</button>
        </form>
      </ul>
    </div>
  </nav>
  
  {% block privileged_base_content %}
  {% endblock %}

  <script>
  </script>
{% endblock %}