<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,
                                 minimum-scale=1.0,
                                 initial-scale=1,
                                 user-scalable=yes">
  {% block title %}
    <title> report - social proximity sensing </title>
  {% endblock %}
  <script src="/packages/web_components/platform.js"></script>
  <script src="/packages/web_components/dart_support.js"></script>
  {% block polymer_import %}
  {% endblock %}
</head>
<body unresolved>
  {% block user_profile %}
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block script %}
  {% endblock %}
</body>